* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.upperColor {
    background-color: #1f2937 ;
}
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.upper {
    margin-left: 17%;
    margin-right: 40%;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1f2937 ;
    position: relative;
}
.kakka {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerLogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 1000;
    margin-top: 2%;
}
nav a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
}
.navigation {
    margin-top: 2%;
    position: absolute;
    right: 0;
    margin-left: 300px;
}
.heroHead {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin-top: 17%;
    margin-bottom: -50px;
}
.heroBody
{
    font-size: 18px;
    color: #e5e7eb;
    margin-right: 20%;
}
.dogImage{
    margin-left: 100%;
    margin-top: -40%;
}
.dogImage img {
    height: 400px;
    width: 700px;
}
button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bolder;
    font-size: 18px;
    border-style: none;
    border-radius: 12px;
    width: 180px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 100px;
}

.lowerLevel1 {
    font-size: 36px;
    font-weight: bolder;
    background-color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}
.dogPictures{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dogPictures img {
    width: 250px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 12px;
    margin-bottom: 150px;
}
.lowerLevel2 {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;

}
.motivationText {
    margin-left: 500px;
    margin-right: 500px;
}